.pageWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;

    --default-spacing: 2rem;
}

.pageContainer {
    background-color: #242424;
    height: 100%;
    width: min(100%, 75rem);
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing);
}

.pageContainer h1,
.pageContainer p {
    margin: 0;
}

.titleContainer {
    display: flex;
    justify-content: center;
}
.titleContainer h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: green;
    font-weight: 1200;
    font-size: 2.5em;
}

.containerIDs {
    display: flex;
    gap: 0.6rem;
}
.containerIDs p {
    margin-bottom: 0.25rem;
}
.containerIDLabels {
    text-align: right;
}
.containerIDValues input[type='text'] {
    width: 100%;
}

.containerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.containerOptions button {
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    border: 1px solid black;
    transition:
        background 0.2s ease-out,
        color 0.2s ease-in;
}
.containerOptions button:hover {
    background: rgb(98, 116, 98);
    color: white;
}
.containerOptions button.selected {
    background: green;
    color: white;
}
.containerOptions div {
    display: flex;
}

.containerCopy {
    margin-top: 0.5rem;
}

.containerCopy .copyLink {
    position: relative;
    bottom: 0.25rem;
    width: 100%;
    text-align: center;
    color: aquamarine;
    text-decoration: underline;
    cursor: pointer;
}

.containerStart {
    display: flex;
    justify-content: center;
}
.containerStart button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid black;
    transition:
        color .2s ease-out,
        border .2s ease-in,
        background-color .2s ease-in;
}
.containerStart button:hover {
    color: green;
    border: 2px solid green;
    background-color: rgb(171, 202, 193);
}

.containerResults {
    background-color: rgb(10, 10, 10);
}
.containerResults h2 {
    margin: 0;
    margin-bottom: .5rem;
    text-align: center;
}

.containerResults .containerMatchInfo,
.containerResults .containerCommon,
.containerResults .containerYours,
.containerResults .containerTheirs {
    padding-top: calc(var(--default-spacing) / 2);
    padding-bottom: calc(var(--default-spacing) / 2);
}

.containerResultImages {
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--default-spacing) / 2);
}
.containerResultImages > div {
    display: flex;
    transition: gap 0.75s ease-in-out;
}
.containerResultImages img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 2px solid white;
    position: relative;
    transition:
        left 0.75s ease-in-out,
        right 0.75s ease-in-out,
        opacity 0.75s ease-in-out;
}

.containerMatchInfo p {
    text-align: center;
}

.containerCommon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}
.containerCommon h3 {
    text-align: center;
    margin: 0;
}

.containerExclusive {
    display: flex;
}
.containerExclusive h3 {
    margin: 0;
}
.containerExclusive > div {
    width: 50%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.containerYours {
    background-color: rgb(70, 140, 168);
}
.containerTheirs {
    background-color: rgb(206, 174, 30);
    color: black;
}
